@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header, h4 {
    font-family: 'Abel', sans-serif;
    background-color: #F0F0F0;
}

h4 {
    display: flex;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h4.last-tweet {
    font-family: 'Abel', sans-serif;
    display: flex;
    height: 30px;
    text-align: start;
    justify-content: start;
}

p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: #F0F0F0;
}

img {
    border: 4px solid #E6E6E6;
    padding: 0px;
}

.container.icon{
    display: flex;
    justify-content: space-evenly;
}

.row{
    gap: 10px 20px;
}
.column-cir{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 50%;
}

h5 {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100px;
    justify-content: center;
}
.row.secondColumn {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 720px){

    .four-icon.row {
        display: flex;
        justify-content: center;
    }


    .right-article.col.d-none.d-md-block {
        display: flex;
        display: none;
    }
}

