header.container {
    background-color: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 60px;
}

.das-burger-wrapper {
    height: 20px;
    width: 27px;
    position: relative;
    /*background-color: grey;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-line {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease .3s;
}

.das-burger-wrapper:hover .menu-line {
    background-color: rgba(0, 0, 0, 1);
}

.page-wrapper.mobile-menu-open .menu-line.top {
    transform: rotate(45deg);
}
.page-wrapper.mobile-menu-open .menu-line.middle {
    transform: rotate(45deg);
}
.page-wrapper.mobile-menu-open .menu-line.bottom {
    transform: rotate(-45deg);
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    pointer-events: none;
}

.mobile-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0);
    transition: all ease .3s;
}
.mobile-menu-wrapper {
    position: absolute;
    top: 0;
    right: -500px;
    width: 400px;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 20px -10px #000;
    background-color: #eee;
    transition: all ease .3s;
}

.page-wrapper.mobile-menu-open .mobile-menu-container {
    pointer-events: all;
}
.page-wrapper.mobile-menu-open .mobile-menu-overlay {
    background-color: rgba(255,255,255,0.7);
}
.page-wrapper.mobile-menu-open .mobile-menu-wrapper {
    right: 0px;
}