@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-wrapper {
    background-image: url("/images/8bit-sunset.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Press Start 2P', serif;
    cursor: pointer;
}

img {
    height: 600px;
}