/*.alert-info.hidden-on-desktop {*/
/*    display: flex;*/
/*    visibility: hidden;*/
/*}*/

/*ul.nav-links {*/
/*    display: flex;*/
/*    position: relative;*/
/*    flex-direction: row;*/
/*    justify-content: flex-end;*/
/*    align-items: end;*/
/*    list-style: none;*/
/*    width: 900px;*/
/*    color: blue;*/
/*    text-decoration: underline;*/
/*    bottom: 30px;*/
/*}*/

/*ul a {*/
/*    display: flex;*/
/*    width: 75px;*/
/*    justify-content: end;*/
/*}*/

/*.text-info {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 400px;*/
/*}*/

/*.main {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 450px;*/
/*}*/

/*.sub-section h2 p {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 450px;*/
/*    justify-content: end;*/

/*}*/


@media screen and (max-width: 665px) {

    .column {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container.justify-center.features {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alert-info.hidden-on-desktop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid black;
        background-color: #CBFFFF;
        width: 339px;
        height: 50px;
        text-align: center;
        justify-content: center;
        margin-top: 10px;

    }

    h1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 339px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    li a {
        display: flex;
        border: 1px solid #CCCCCC;
        text-decoration: underline blue;
        height: 35px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    li a:visited {
        color: blue;
    }

    li {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        width: 339px;
    }

    ul.nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 339px;
        list-style: none;
        padding: unset;
    }

    .nav-links a {
        background-color: #CCCCCC;
        color: blue;
    }

    img {
        display: flex;
        column-gap: 20px;
        width: 339px;
        height: 224px;
    }

    h2, p {
        display: flex;
        flex-direction: column;
        width: 339px;
        flex-wrap: wrap;
        text-align: start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
