* {
    font-family: "Times New Roman", sans-serif;
    color: whitesmoke;
    font-size: 25px;
    opacity: 1;
    position: relative;
}

.fancy-header {
    color: whitesmoke;
    text-decoration: underline;
    text-align: center;
    font-size: 80px;
}

/*.features-container {*/
/*    display: flex;*/
/*    !*flex-direction: column;*!*/
/*    justify-content: space-between;*/
/*    !*border-bottom: 1px solid #000;*!*/
/*}*/

.slogan {
    text-align: center;
    border-bottom: black 2px dotted;
}

h2 {
    color: #ffb9b9;
    text-align: center;
    font-size: 30px;
}

.photos-wrapper {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
    row-gap: 10px;
    margin: 0;
}

.photo-wrapper {
    flex: 1 0;
    min-width: 1px;
    aspect-ratio: 3/2; /* can use aspect ratio > height bc it will automatically adjust when sizing browser */
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.photos-wrapper .photo-wrapper img {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 700px;
    margin: 0;
    transition: all ease .3s;
    overflow: hidden;

}

.photo-wrapper:hover img {
    transform: scale(1.1);
}

.bg-img {
    margin: auto 5px;
    position: fixed;
    background-size: auto;
    background-size: contain;
    width: 100%;
    height: auto;
    top: 0;
}

ul {
    list-style-type: square;
    display: table;
    margin: 0 auto;
    text-align: center;
}

ol {
    display: table;
    margin: 0 auto;
    text-align: center;
}

/*.table-center {*/
/*    text-align: center;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    */
/*}*/

table, th, td {
    border: 4px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    background-color: rgb(255, 185, 185);
}

.quality {
    text-align: center;
}

.link {
    text-align: center;
    display: block;
}

a:link {
    color: hotpink;
}

a:visited {
    color: dodgerblue;
}

a:hover {
    color: aqua;
}

a:active {
    color: orange;
}