:root {

}

body {
    font-family: "Helvetica Neue";
}

.left-sidebar, .right-sidebar {
    flex: 0 1 250px;
}

.column1 {
    min-width: 255px;
    height: 100%;
}

.column2 {
    border-left: 2px solid #F1F4F5;
    border-right: 2px solid #F1F4F5;
    min-width: 600px;
    height: 100%;
}

.column3 {
    min-width: 350px;
    height: 100%;
}

.row.grow {
    height: 100px;
    justify-content: center;
}

h3 {
    display: flex;
    position: relative;
    width: 120px;
    justify-content: start;
    align-items: center;
    font-weight: normal;
    left: 30px;
}

.profile-link h3 {
    font-weight: bold;
}

.logo img{
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
}

.sidebar-links {
    height: 60px;
}

.home-link, .explore-link, .notifications-link,
.messages-link, .bookmark-link, .twitter-blue-link,
.profile-link, .more-link, .tweet-link {
    display: flex;
    position: relative;
    top: 30px;
}

.home-link img, .explore-link img, .notifications-link img,
.messages-link img, .bookmark-link img, .twitter-blue-link img,
.profile-link img, .more-link img {
    display: flex;
    max-height: 40px;
    max-width: 40px;
}

.tweet-button {
    display: flex;
    justify-content: center;
    width: 230px;
    color: #FFF;
    background-color: #1C9BEF;
    height: 50px;
}

.tweet-button span {
    font-family: Roboto, Arial, sans-serifr;
    font-size: 20px;
    font-weight: bold;
}

svg {
    display: flex;
    height: 28px;
    width: 28px;
}

.back-arrow {
    display: flex;
    align-items: center;
    height: 54px;
}

.back-arrow img {
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    left: 10px;
}

.user-name {
    display: flex;
    position: relative;
    display: block;
    margin-right: 10px;
    margin-left: 40px;
    font-size: 14px;
}

.tweet-count {
    display: flex;
    align-items: start;
    justify-content: left;
    overflow-wrap: break-word;
    color: #536371;
}

.cover-photo img {
    z-index: 1;
}

.profile-info {
    height: 330px;
}

.profile-picture {
    max-height: 68px;
    position: absolute;
    max-width: 600px;
    justify-content: space-evenly;
}
.profile-picture img {
    display: flex;
    position: relative;
    width: 135px;
    height: 135px;
    border: white 4px solid;
    border-radius: 50%;
    left: 15px;
    z-index: 2;
    bottom: 120px;
}

.more-icon {
    display: flex;
    position: relative;
    border: 0px;
    margin: 0px;
    width: 50px;
    height: 45px;
    left: 425px;
    top: 15px;
}

.bio {
    padding-top: 12px;
}

.bio-intro {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    height: 300px;
    display: flex;
    position: relative;
    display: block;
/*margin-right: 10px;*/
/*margin-left: 40px;*/
font-size: 16px;
}


.bio-intro h2 {
    height: 32px;
}

.bio-intro p {
    font-size: 16px;
}

.bio p {
    font-size: 16px;
    flex-wrap: wrap;
}

.join-date {
    height: 28px;
}

.follower-info {
    display: flex;
    position: relative;
    flex-direction: row; /* DONT FORGET THIS! IT MAKES MULTIPLE COLUMNS IN A ROW */
    color: #536371;
    bottom: 20px;
}

.follower-info span {
    font-weight: bold;
    color: #000000;
}

.follower-info .followers {
    display: flex;
    min-width: 150px;
    justify-content: center;
}

.location {
    padding-top: 10px;
    height: 32px;
}

.youtube-link {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    bottom: 53px;
}

.youtube-link p {
    color: #1C9BEF;
    margin-left: 5px;
}

.not-followed p {
    display: flex;
    position: relative;
    font-size: 14px;
    bottom: 10px;
    color: #536371;
}

.location svg,.join-date svg, .youtube-link svg {
    display: flex;
    position: relative;
    height: 18px;
    width: 18px;
    align-items: center;
}

.location p, .join-date p {
    display: flex;
    position: relative;
    width: 564px;
    left: 24px;
    bottom: 20px;
    color: #536371;
}

.follow-button {
    display: flex;
    position: relative;
    height: 45px;
    width: 105px;
    left: 480px;
    bottom: 35px;
}

.site-search {
    display: flex;
    position: relative;
    top: 10px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
}

input {
    width: 100px;
}

button {
    position: relative;
    top: 7px;
    height: 30px;
    align-items: center;
}

.search-img {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}
