@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-wrapper {
    font-family: 'Roboto Mono', sans-serif;
}

.column.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.singleCard {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

div.row {
    display: flex;
    justify-content: center;
}

div h3 {
    display: flex;
    font-size: 22px;
}

div h6 {
    display: flex;
}

h1 {
    display: flex;
    align-items: flex-start;
    font-size: 40px;
}

/** MAP STYLES **/

button#5, button#15, button#20{
    display: flex;
    z-index: 2;
}