@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-wrapper {
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background-image: url("/images/weather.png");
    background-size: cover;
}


.column.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.singleCard {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #7cb6d9;
}

div.row {
    display: flex;
    justify-content: center;
}

div h3 {
    display: flex;
    font-size: 22px;
}

div h6 {
    display: flex;
}

h1 {
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    color: white;
}

label {
    font-size: 32px;
    font-family: 'Roboto Mono', sans-serif;
    color: white;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}
/** MAP STYLES **/

button#5, button#15, button#20{
    display: flex;
    position: relative;
    background-color: #0a6aa9;
    color: white;
    border-radius: 2px;
}
button {
    display: flex;
    background-color: #0a6aa9;
    color: white;
    border-radius: 2px;
}